/* h1{
    font-size: 150px;
    color: red;
}
h2{
    color: green;
}
#first_id{
    font-size: 50px;
}
.myColor{
    color: blue;
} */

div{
    border: 1px solid red;
    padding: 20px;
    margin: 20px;
}
div h1{
    border: 1px solid blue;
}