.textContent{
    background-color: gray;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#mainContent{
    background-color: lightblue;
    height: 400px;
}

#navigation{
    width: 25%;
    height: 100%;
    background-color: lightcoral;
    padding: 10px 0px;
}
.navItem{
    background-color: lightgoldenrodyellow;
    height: 50px;
    margin: 10px;
    padding: 30px 0px 0px 20px;
    font-size: 25px;
}