.commonClass{
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 10px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 10px;
}

.sidebar{
    height: 100%;
    width: 20%;
}